@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}
body{
  
  height:100vh;
  overflow-x:hidden;
  background-color: rgb(243, 238, 226);
  color:#242323;
  font-weight: 600;
  font-size:17px;
  font-family:Arial, Helvetica, sans-serif;

}
header{
  text-align:center;
  padding:20px 0;
  font-size:30px;
  color:rgb(255, 255, 255);
  background-color:#000000;
  box-shadow:10px 10px 20px rgb(129, 128, 128);
  height:12%;


}
header h1 {
  color: rgb(243, 238, 226);;
}

.container {
  display:flex;
  flex-direction:row;
  gap:20px;
  position:relative;
  margin-left:10%;


}
.sidenav-Bar{
  margin:8% 2%;
  /*box-shadow:5px 5px 10px hwb(0 57% 41%);*/
  padding:0 24px;
}
.sidenav{
  display:flex;
  flex-direction:column;
  margin-top:20px;
  gap:10px;


}
.sidenav a{
  display:block;
  color:rgb(38, 180, 182);
  

}
h2 {
  color:#000000;
}

#recipe-content {
  flex:1;
  height:100%;
  margin-top:8%;
  margin-right: 8%;
  list-style-type:none;
 border: 2px solid gray;
 box-shadow:10px 10px 15px hwb(120 28% 71%);
 line-height: 1.6;
  
}
#recipe-content p{
  color:rgb(15, 41, 107);
  letter-spacing: 0.4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:25px;
}
@media (max-width: 768px){
  header {
    font-size: 15px;
    width:750px;
    
  }
  header h1{
    color:wheat;
  }
  
  .sidenav-Bar{
    margin:0px;
  }
  .sidenav h2 {
    font-size:20px;
    
  }
  h2 {
    line-height: 1.6;
  }
  li {
    font-size:14px;
    letter-spacing: 0.4px;
    line-height: 1.6;
  
  }
  .sidenav a {
    font-size:12px;
  }
  #recipe-content{
    height:100%;
    min-width:300px; 
    word-wrap: break-word;

  }
  a[data-recipe] {
    font-size:12px;
  }

}
footer{
  text-align:center;
  margin:30px 0px 30px 0;
  font-size:20px;


}
/*@media (max-width: 990px){
  header {
    font-size: 15px;
    width:100%;;
    
  }
  header h1{
    color:white;
    font-size: 45px;
  }
  
  .sidenav-Bar{
    margin:0px;
  }
  h2 {
    font-size:30px;
  }
  li {
    font-size:30px;
  }
  .sidenav a {
    font-size:25px;
  }
  #recipe-content{
    min-width: 550px;
    margin-top:3px;
  

  }
  a[data-recipe] {
    font-size:25px;
  }
} */