.line-2{

  height:0.5px;
  background: rgb(188, 188, 188);
  margin-bottom:1rem;
  margin-right:4.5rem;
  margin-left:3rem;
  
}
/*.line{
  height:2px;
  background: rgb(188, 188, 188);
  margin-bottom:1rem;
}*/


      
           
      
        
        
     
    

