
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color:rgb(38, 180, 182);;
  --font-style:italic;
  --color:rgb(49, 51, 51);
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}


body{
  width:100%;
  height:100vh;
  overflow-x:hidden;
  background-color:rgb(243, 238, 226);
  
  
}
header{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  background-color:#ffffff;
  height:100px;
  gap:20px;
  
}
header img{
  width:180px;
  overflow:hidden;
  height:90px;

}
header h1{
  color:rgb(49, 51, 51);
  font-style:var(--font-style);
  font-style:italic;
}
.food-blog{
  display:flex;
  align-items:center;
}
nav {
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  margin-right:7rem;
  overflow:auto;
  
}
nav li a {
  list-style-type: none;
  padding:3px;
  text-decoration: none;
  font-size:22px;
  color:var(--color);
  font-style:italic;
  
}
nav ul li {
  display:inline;
  padding:2px;
  
}
.bx {
align-items:center;
padding-right:4px;

}
@media screen and (max-width: 440px) {
  nav {
    display:none;
  
  }
  .food-blog{
    display:flex;
    flex-direction: column;
  }
  .container,.footer-images{
    display:flex;
    flex-direction:column;
  }

}

.hero{
  width:100%;
  height:500px;
  background:url('Add\ a\ little\ bit\ of\ body\ text.png');
  background-size: cover;
  background-position: center;
  background-repeat: none;
  box-shadow: 5px 5px 15px rgb(96, 94, 94);
}
section h1{
  color:rgb(255, 255, 255);
  text-align: center;
  padding-top:5rem;
  font-size:4rem;
  font-style:italic;

}
section h2{
  color:white;
  text-align: center;
  padding-top:1.5rem;
  font-size:2rem;
  font-style:italic;
}
.Featured-recipes{
  margin-top:3rem;
  margin-left:14%;
  color: var(--primary-color);
  font-size:2rem;
  font-style:italic;
  margin-bottom: 3px;
  margin-left:2rem;
  
  
}

.Menu-bar{
   Position:sticky;
   backdrop-filter: blur(30px);
   box-shadow:5px 5px 10px  rgb(157, 154, 154);
   border:1px thin rgba(38, 180, 182, 0.2);
   
}

.Menu-bar a {
  text-decoration: none;
  padding:3px;
  color:var(--color);
  font-size:24px;
  Margin-left:2rem;
  margin-right:2rem;
  font-style: italic;

}
.Menu-bar a:hover{
  color:rgb(212, 76, 76);
  box-shadow: 0px 0px 15px bisque ;
}
.container{
  margin-top:20%;
  background-color: rgb(255, 253, 253);
  display:flex;
  flex-direction:row;
  box-shadow: 10px 10px 20px rgb(147, 144, 144);
}
  
.footer-info,.footer-sociallinks {
  display:flex;
  flex-direction:column;
  margin-left:10px;

}
footer img{
  width: 380px;
}
.footer-info{
  box-shadow: 5px 5px 10px rgb(147, 144, 144);
}
.footer-images img {
  width:300px;
  height:250px;
  box-shadow: 5px 5px 10px gray;
  padding:20px;
  margin:10px;
  display:block;
  
}
.footer-images {
 position:relative;
 width:50%;
 max-width:300px;
 display:flex;
 margin:5% 15%;
}
.overlay{
  position:absolute;
  background: rgba(0,0,0, 0.5);
  color:#ffffff;
  width:100%;
  transition: .5s ease;
  opacity:0;
  
  font-size:20px;
  text-align:center;
  padding:20px;
  margin-top:-74px;
  margin-left:10px;

  
}
.footer-images:hover .overlay{
  opacity:1;
}
.footer-sociallinks a{
  color:rgb(0, 0, 0);
  font-size:17px;
}

  
div p{
  color:rgb(0, 0, 0);
  font-size:15px;
  text-align:center;
  padding-top:20px;

  
}

@media screen and (max-width: 540px) {
  .Menu-bar a{
    float: none;
    display: block;
  }
}
